<main>

<a href="incidents/new">
  <button style="width: 100%;  border-radius: 16px; font-size: 25px;"> 
    Create Incident
  </button>
</a>

<table> 
  <% for(let count = 0; count < Incident.length; count++){ %>
    <tr class="d-flex">
        <% if(typeof displayName == 'string' && displayName) { %>
            <td><%= Incident[count].title %></td>
            <td><%= Incident[count].description %></td>
            <a href="/views/update/<%= Incident[count]._id %>" class="btn btn-primary btn-sm">
            <i class="fas fa-pencil-alt"></i>Edit</a>
        </td>
    </tr>
</table>

</main>