* {
  font-family: "Roboto Slab", serif;
}

body > header {
  display: flex;
  margin-bottom: 50px;
  align-items: flex-end;
}

.logo {
  height: 280px;
  filter: saturate(1.5);
}

.brand-name {
  font-family: "Fraunces", serif;
  font-size: 28px;
  margin-bottom: 50px;
}

body > footer {
  margin-top: 100px;
}

.form-errors {
  color: red;
  margin: 20px 0;
}

.form-errors > .title {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
