/** Colour Palette
Rich Black:   #0A0A0A
Oxford Blue:  #14213d
Orange Web:   #fca311
Platinum:     #e5e5e5
Cultured:     #F2F2F2
**/

* {
  font-family: "Roboto Slab", serif;
  color:  #e5e5e5;
}

body {
  background-color: #14213d;
}

body > header {
  display: flex;
  margin-bottom: 50px;
  align-items: flex-end;
}

.container {
  margin-top: 25px;
}

.logo {
  height: auto;
  width: 150px;
  filter: saturate(1.5);
}

.brand-name {
  font-family: "Fraunces", serif;
  margin-bottom: 50px;
  color: #fca311;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

body > footer {
  margin-top: 100px;
}

.form-errors {
  color: #fca311;
  margin: 20px 0;
}

.form-errors > .title {
  font-weight: bold;
}

.form-success {
  color: #f2f2f2;
  margin: 20px 0;
}

h1 {
  color: #fca311;
}

a {
  color: #e5e5e5;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  color: #e5e5e5b2;
}

nav {
  background-color: #0a0a0ae0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav > ul > li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.active {
  color: #fca311;
  font-weight: bold;
}

button {
  background-color: #fca311;
  color: #0a0a0a;
  font-weight: bold;
  margin-top: 25px;
}

a.button {
  background-color: #fca311;
  color: #0a0a0a;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  border-color: #fca2118c;
}

button:hover,
a.button:hover {
  background-color: #fca2118c;
}

button:focus,
a.button:focus {
  box-shadow: 0 0 0 1px #fca2118c;
}

select {
  background-color: #e5e5e5;
  width: max-content;
  color: #0a0a0a;
}

option {
  background-color: #e5e5e5;
  color: #0a0a0a;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 2px #fca311;
}

input,
textarea {
  background-color: #e5e5e5;
  color: #0a0a0a;
}

::selection {
  background-color: #14213d;
}

label {
  margin-top: 25px;
}

fieldset {
  border-color: #fca311;
}

legend {
  text-align: right;
  font-size: 25px;
  color: #fca311;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

th {
  color: #0a0a0a;
  background-color: #fca311;
}

.htitle {
  width: 25%;
}

.hdesc {
  width: 42%;
}

td {
  padding: 10px 5px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tabletitle {
  white-space: normal;
}

tbody tr:nth-child(even) {
  background-color: #e5e5e50e;
}

tbody tr:hover,
tr:hover {
  background-color: #0a0a0a;
}
