* {
  font-family: "Roboto Slab", serif;
}

body > header {
  display: flex;
  margin-bottom: 50px;
  align-items: flex-end;
}

.logo {
  height: 280px;
  filter: saturate(1.5);
}

.brand-name {
  font-family: "Fraunces", serif;
  font-size: 28px;
  margin-bottom: 50px;
}

body > footer {
  margin-top: 100px;
}

.all-incidents-table-override {
  width: auto;
}